[submodule "sources/tesseract"]
	path = sources/tesseract
	url = https://github.com/tesseract-ocr/tesseract.git
	branch = 5.2.0
[submodule "sources/leptonica"]
	path = sources/leptonica
	url = https://github.com/DanBloomberg/leptonica
	branch = 1.82.0
[submodule "sources/libpng"]
	path = sources/libpng
	url = https://github.com/glennrp/libpng.git
	branch = v1.6.38
[submodule "sources/libjpeg-turbo"]
	path = sources/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	branch = 2.1.4
[submodule "sources/zlib"]
	path = sources/zlib
	url = https://github.com/madler/zlib.git
	branch = v1.2.13
